<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mapper.MarkerMapper">
 	<insert id="addMarker" parameterType="Collect">
 		insert into
 		collect(uid,nid,ctimes,chapname,cid)
 		value(#{uid},#{nid},#{ctimes},#{chapname},#{cid})
 	</insert>
 	
 	<insert id="joinMarker" parameterType="Collect">
 		insert into
 		collect(uid,nid,ctimes,cid)
 		value(#{uid},#{nid},#{ctimes},#{cid})
 	</insert>
 	
 	<select id="selectMarker" parameterType="Long" resultType="Collect">
 		select * from collect where uid = #{uid}
 	</select>
 </mapper>