<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">

    <update id="updUser" parameterType="User">

        UPDATE user
         <set>
             <if test="head !=null">head=#{head}</if>
             <if test="name !=null">name=#{name}</if>
             <if test="sex !=null">sex=#{sex}</if>
             <if test="tel !=null">tel=#{tel}</if>
             <if test="email !=null">email=#{email}</if>

         </set>

        WHERE id = #{id}
    </update>

</mapper>