<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd" default-autowire="byName" >

    <context:property-placeholder location="classpath:redis.properties"></context:property-placeholder>
    <!--配置连接池信息-->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--最大的连接数-->
        <property name="maxTotal" value="${redis.maxTotal}"></property>
        <!--最大的空闲数-->
        <property name="maxIdle" value="${redis.maxIdle}"></property>
    </bean>

    <!--spring 整合 Jedis-->
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.hostName}"></property>
        <property name="port" value="${redis.port}"></property>
        <!--指定密码-->
        <property name="password" value="${redis.password}"></property>
        <property name="poolConfig" ref="jedisPoolConfig"></property>
    </bean>

    <!--RedisTemplate-->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
    </bean>

</beans>