@charset "UTF-8";
ul li{
	list-style:none;
}


#ranking{
	height:500px;
	width:1200px;
	margin-left:159.6px;
	/*position:relative;*/
}

/*总热度排行榜*/
#ranking .rankOne{
	height:100%;
	width:400px;
	float: left;
	background:url(../images/weline.gif) no-repeat right center;
}
/* 总热度排行>>*/
.allHeatRank{
	font-weight:bold;
	font-size:23px;
	width:380px;
	height:25px;
	margin-left:10px;
	border-bottom:1px dashed #ccc;
	cursor: pointer;
}
/* ul li*/
ul{
	width:380px;
	height:450px;
	margin:10px;
	/*background-color:blue;*/
}
ul>li{
	width:380px;
	height:30px;
	float:left;
	font-size:15px;
	line-height:30px;
	cursor: pointer;
	border-bottom:1px solid #ccc;
}
/*ul a:link{
	color:#232124;
}
ul a:visited{
	color:#ccc;
}*/
ul a:hover{
	color:red;
}


/*总热度*/
.AllHeat{
	float:right;
	color:#ccc;
}
/*排序*/
.num01{
	width:10px;
	height:10px;
	background-color:#BF2C24;
}
.num02{
	width:10px;
	height:10px;
	background-color:#E67225;
}
.num03{
	width:10px;
	height:10px;
	background-color:#E6BF25;
}
.num{
	width:10px;
	height:10px;
	background-color:#EDEDED;
}


#ranking .rankTwo{
	height:100%;
	width:400px;
	float: left;
	background:url(../images/weline.gif) no-repeat right center;
}
#ranking .rankThree{
	 height:100%;
	 width:400px;
	 float: left;
 }