@charset "UTF-8";

#searcherAll{
	width: 1000px;
	height: 2070px;
	margin:0px auto;
}


.searcherTop{
	width:100%;
	height:40px;
	float:left;
	background:#F7F6F2 url("../images/wenhao.jpg") no-repeat right center;
}
.searcherTop span{
	margin-left:845px;
	height:40px;
	line-height:40px;
	text-align:center;
}


.searcherFoot{
	width:100%;
	height:2000px;
	margin-top:10px;
	float:left;
}

.searcherFoot ul{
	width:100%;
	height:100%;
}
.searcherFoot ul li{
	width:100%;
	height:200px;
	border-bottom:1px solid #ccc;
}


#novelImg{
	width:140px;
	height:100%;
	float:left;
}
#novelMsg{
	width:830px;
	height:100%;
	padding-left:30px;
	float:left;
}
#novelMsg h4{
	width:100%;
	height:25px;
	font-size:20px;
	color:red;
	padding-top:10px;
}
#novelP1{
	height:25px;
	width:100%;
	font-size:15px;
	line-height:25px;
}
.addCollection{
	width:100px;
	height:30px;
	position:absolute;
	margin-left:700px;
	margin-top:10px;
	color:#3F5A93;
	font-size:15px;
	text-align:center;
	line-height:30px;
	border-radius: 10px;
	border:1px solid #3F5A93;
}



#page{
	height:20px;
	width:100%;
	margin-top:30px;
	float:left;
}
#page ul{
	float:right;
}
#page ul li{
	height:20px;
	padding-left:5px;
	line-height:20px;
	font-size:20px;
	float:left;
}
#page a:hover{
	color:red;
	border-bottom:1px solid red;
}
#textChange{
	width:30px;
	height:20px;
	border:1px solid #000;
	border-radius: 5px;
}




















