<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.IndexNovelMapper">
	<insert id="insert">
		insert into indexnovel values(null,#{novelName},#{author},#{readPeople},#{picture})
	</insert>
	<select id="findAll" resultType="IndexNovel">
   	 	select * from indexnovel
  	</select>
  	<select id="findById" parameterType="int" resultType="bean.IndexNovel">    
        select id id,novelName novelName,author author,readPeople readPeople from indexnovel where id=#{id}    
    </select>
	<delete id="delete" parameterType="bean.IndexNovel">    
        delete from indexnovel where id=#{id}    
    </delete>
    <update id="update" parameterType="bean.IndexNovel">    
        update indexnovel set novelName=#{novelName},author=#{author},readPeople=#{readPeople},picture=#{picture} where id=#{id}    
    </update>
</mapper>