<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.NovelMapper">
	<insert id="insert">
		
	</insert>
	<select id="findAll" resultType="Novel">
   	 	select * from novel 
  	</select>
  	
  	<select id="findByName" resultType="Novel">
        SELECT * FROM novel
        <where>
            <if test="novelName != null and novelName != ''">
                AND novelName LIKE CONCAT(CONCAT('%',#{novelName},'%'))
            </if>
        </where>
        ORDER BY nid
    </select>


  	<select id="findById" parameterType="int" resultType="bean.Novel">    
                     
    </select>
	<delete id="delete" parameterType="bean.Novel">    
                    
    </delete>
    <update id="update" parameterType="bean.Novel">    
                     
    </update>
</mapper>